<h3>Top Villains</h3>

<div class="grid grid-pad">

  <!-- <div *ngFor="let villain of villains" class="col-1-4">
    <div class="module villain">
      <h4>{{villain.name}}</h4>
    </div>
  </div> -->

  <a *ngFor="let villain of villains"  [routerLink]="['/detail', villain.id]"  class="col-1-4">
    <div class="module villain">
      <h4>{{villain.name}}</h4>
    </div>
  </a>
</div>

<app-villain-search></app-villain-search>
