<h2>My Villains</h2>

<div>
  <label>Villain name:
    <input #villainName />
  </label>
  <button (click)="add(villainName.value); villainName.value=''">
    add
  </button>
</div>

<ul class="villains">
  <!-- <li *ngFor="let v of villains" 
             [class.selected]="v === selectedVillain"
             (click)="onSelect(v)">
    <span class="badge">{{v.id}}</span> {{v.name}}
    <button class="delete" title="delete villain"
    (click)="delete(villain)">x</button>
  </li> -->
  <li *ngFor="let v of villains" [class.selected]="v === selectedVillain" >
      <a routerLink="/detail/{{v.id}}">
    <span class="badge">{{v.id}}</span> {{v.name}}
    </a>
    <button class="delete" title="delete villain" (click)="delete(v)">x</button>
  </li>
</ul>


<!-- <villain-detail [villain]="selectedVillain"></villain-detail> -->

<div *ngIf="selectedVillain">
  <h2>
    {{selectedVillain.name | uppercase}} is my villain
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>


<app-messages></app-messages>